import { fn } from './fn.js';
import { baseResponseTemplate } from '../../../utils/response-templates/base-response-template';

export const get = {
  schema: {
    api: {{api}},
    description: 'Get a list of {{pascalCase name}} objects',
    tags: ['{{pascalCase name}}'],
    summary: 'This method allows you to get {{pascalCase name}} objects',
    query: {
      limit: {
        type: 'string'
      },
      offset: {
        type: 'string'
      },
      filter: {
        type: 'string'
      }
    },
    response: {
      200: {
        description: 'Successful response',
        type: 'object',
        properties: {
          success: { type: 'boolean' },
          items: {
            type: 'array',
            items: { $ref: '{{pascalCase name}}#' }
          }
        }
      },
      ...baseResponseTemplate
    }
  },
  fn
};
