import { fn } from './fn.js';
import { baseResponseTemplate } from '../../../utils/response-templates/base-response-template';
import { postResponseTemplate } from '../../../utils/response-templates/post-response-template';

export const put = {
  schema: {
    api: {{api}},
    description: 'Updates a list of {{pascalCase name}} objects',
    tags: ['{{pascalCase name}}'],
    summary: 'This method allows you to update a list of {{pascalCase name}} objects',
    body: {
      type: 'array',
      items: '{{pascalCase name}}UpdateRequest#'
    },
    response: {
      200: {
        description: 'Successful response',
        type: 'object',
        properties: {
          success: { type: 'boolean' },
          items: {
            type: 'array',
            items: { $ref: '{{pascalCase name}}UpdateResponse#' }
          }
        }
      },
      ...baseResponseTemplate,
      ...postResponseTemplate
    }
  },
  fn
};
